<div *ngIf="weatherData" class="app-weather-item">
  <div *ngIf="weatherData.name && weatherData.sys.country" class="app-weather-item__title">
    {{weatherData.name}}, {{weatherData.sys.country}}
  </div>

  <div *ngIf="weatherData.coord" class="app-weather-item__coordinates">
    Longitude: {{weatherData.coord.lon}}, Latitude: {{weatherData.coord.lat}}
  </div>

  <div *ngIf="weatherData.dt_txt" class="app-weather-item__forecastdate">
    {{weatherData.dt_txt}}
  </div>

  <div class="app-weather-item__weather">
    <div *ngFor="let weatherItem of weatherData.weather" class="app-weather-item__weather-item">
      <img [src]="weatherItem.iconUrl">
      <span class="app-weather-item__weather-item-text">
        {{weatherItem.main}}
      </span>
     
    </div>
  </div>

  <div class="app-weather-item__info">
    <div>
      <span class="app-weather-item__heading">Temperature:</span>{{(weatherData.main.temp - 273).toFixed(1)}} &#8451;
    </div>
    <div>
      <span class="app-weather-item__heading">Humidity:</span>{{weatherData.main.humidity}}%
    </div>
  </div>

  <div class="app-weather-item__wind">
    <div>
      <span class="app-weather-item__heading">Wind Speed:</span> 
      {{weatherData.wind.speed}} m/s 
      <span class="app-weather-item__heading">Wind Direction:</span> {{weatherData.wind.deg}}°
    </div>
  </div>

</div>
