<mat-card class="app-weather-description__current-weather">
  <mat-card-title class="app-weather-description__current-weather__title">
    Current Weather
  </mat-card-title>
<mat-card>
  <app-weather-item [weatherData]="weatherData"></app-weather-item>
</mat-card>

</mat-card>
  
  
  <mat-card class="app-weather-description__current-weather">
    <mat-card-title class="app-weather-description__current-weather__title">
      Forecast
    </mat-card-title>
    <app-forecast-description [forecastData]="forecastData"></app-forecast-description>

  </mat-card>
  