<div class="app-main">
  <mat-toolbar color="primary" class="app-main__navbar">
    <a mat-button> Weather By Rohan </a>
    <mat-slide-toggle
    class="dark-mode-toggle"
    [checked]="isDarkTheme"
    (change)="toggleDarkTheme($event.checked)"
    >
  Dark Mode
</mat-slide-toggle>
  </mat-toolbar>

  <div class="container">
    <div class="row">
      <div>
        <app-cities-list (citySelected)="onCitySelected($event)"
          (currentCoordinatesSelected)="onCurrentCoordinatesSelected($event)">
        </app-cities-list>
      </div>
    </div>
    <div class="row">
      <div >
        <app-weather-description></app-weather-description>
    </div>
    </div>
 
  </div>
  <div class="app-main__add-city-button">
    <button mat-fab (click)="showCitySelector()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <app-footer></app-footer>
</div>
